@media screen and (max-width: 1920px) {
    .box-card {
        min-height: 320px;
    }
    .box-desc {
        font-size: 15px;
    }
    .box-card h2 {
        font-size: 26px;
    }
    .title-table {
        font-size: 26px;
    }
}

@media screen and (max-width: 1620px) {
    .box-card h2 {
        font-size: 24px;
    }
    .title-table {
        font-size: 24px;
    }
    .box-desc {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    .box-card h2 {
        font-size: 21px;
    }
    .box-card {
        min-height: 230px;
    }
    .title-table {
        font-size: 21px;
    }
    .box-desc {
        font-size: 13px;
    }
    .box-card ul li a {
        font-size: 14px;
    }
}
@media screen and (max-width: 991px) {
    .box-card {
        min-height: 260px;
    }
    .butt-exit {
        background: none;
        width: auto;
        padding: 0 10px;
        text-align: center;
    }
    .settings-ico {
        width: 70px;
    }
}

@media screen and (max-width: 767px) {

    #spisoktoch, .form-group .form-group.input-group .data-select {
        font-size: 14px;
        height: 30px;
        line-height: 1;
        padding-top: 0;
        padding-bottom: 0;
    }
    .btn {
        padding: 5px 12px !important;
        font-size: 14px !important;
    }

    .messages-out-box {
        /*max-height: 24vh;*/
        max-height: 16vh; 
        min-height: initial;
        height: 100vh;
    }
    .face-ico {
        border-left: none;
        padding-left: 0;
    }
    .face-ico::before {
        display: none;
    }
    
    .header-row-first .timesever {
        order: 1;
        margin-right: 30px !important;
    }
    .header-row-first .settings {
        order: 3;
        margin-right: 15px !important;
    }
    .header-row-first .user {
        order: 2;
        margin-right: 30px !important;
    }
    .header-row-first .exit {
        order: 4;
    }

    .modal-title {
        font-size: 18px;
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .timesever {
        display: none;
    }
    .butt-exit {
        height: 40px;
        font-size: 16px;
    }
    .settings-ico {
        width: 50px;
        height: 40px;
    }
    .settings-ico::before {
        background-size: contain;
        height: 80%;
        width: 100%;
        background-position: center;
    }
}

@media screen and (max-width: 410px) {
    .butt-exit {
        font-size: 0;
        background-color: inherit;
        background-image: url(../img/header/man.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 30px;
        background-size: contain;
        border: none;
    }
    .settings-ico {
        width: 40px;
        height: 30px;
        border: none;
    }
    .header-row-first .settings {
        margin-right: 10px !important;
    }
    .face-ico {
        font-size: 16px;
    }
    .header-row-first .logo-box {
        width: 60px;
    }
    .header-row-first {
        height: 60px;
    }
}

@media screen and (max-width: 370px) {
    div.box-card h2 {
        font-size: 10px !important;
    }
}
